@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Karla;
  font-display: swap;
  src: local('Karla'), url(~/assets/fonts/Karla/Karla-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Karla;
  font-display: swap;
  src: local('Karla'), url(~/assets/fonts/Karla/Karla-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Rajdhani;
  font-display: swap;
  src: local('Rajdhani'), url(~/assets/fonts/Rajdhani/Rajdhani-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Rajdhani;
  font-display: swap;
  src: local('Rajdhani'), url(~/assets/fonts/Rajdhani/Rajdhani-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: local('Roboto'), url(~/assets/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: local('Roboto'), url(~/assets/fonts/Roboto/Roboto-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}